name: CodeCov Test and coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "**" ]

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 2
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: '1.20'
      - name: Run coverage
        run: go test ./... -race -coverprofile=coverage.txt -covermode=atomic -tags=debugNflex
      - name: Upload coverage to Codecov
        run: env CODECOV_TOKEN=764eb126-04d6-46cf-a952-cb51766c8572 bash <(curl -s https://codecov.io/bash)
